[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
dnspython = "*"
flask = "*"
gunicorn = "*"
pymongo = "*"
nanoid = "*"

[requires]
python_version = "3.7"
