{% extends "base.html" %}
{% block title%}View Mappings {% endblock%}
{% block content %}

<form id="creationForm">
    <label for="url">url</label>
    <input type="text" name="url" id="url" />
     <button id="btnSubmit" type="submit">Submit</button>
</form>


<script>
    
    function handleSubmit(event, form) {

        var url = window.location.origin + "/";
        event.preventDefault();
        const btn = document.getElementById('btnSubmit');
        btn.disabled = true;
        setTimeout(() => btn.disabled = false, 2000);
        
        const jsonData = buildJsonFormData(form);

        const headers = buildHeaders();

        const response = performPostHttpRequest(url, headers, jsonData);
        console.log(response);

    }

    function performPostHttpRequest(fetchLink, headers, body) {
        if(!fetchLink || !headers || !body) {
            throw new Error("One or more POST request parameters was not passed.");
        }
        try {
            const rawResponse = fetch(fetchLink, {
                method: "POST",
                headers: headers,
                body: JSON.stringify(body)
            });
            const content = rawResponse.json;
            return content;
        }
        catch(err) {
            console.error(`Error at fetch POST: ${err}`);
            throw err;
        }
     }

    function buildJsonFormData(form) {
        const jsonFormData = {};
        for(const pair of new FormData(form)) {
            jsonFormData[pair[0]] = pair[1];
        }
        return jsonFormData;
    }

    function buildHeaders(authorization = null) {
        const headers = {
            "Content-Type": "application/json",
        };
        return headers;
    }
    
    const form = document.querySelector('#creationForm');
    
    form.addEventListener('submit', function(e){
          handleSubmit(e, this)
    });

</script>

<table class="table">
    <thead>
        <th scope="col" width ="100px">Run Slug</th>
        <th scope="col" width ="100px">View Mapping</th>
        <th scope="col">Slug</th>
      <th scope="col">Url</th>
    </thead>
    <tbody> 
        {% for mapping in content %}

        <tr scope="row">
            <td><a class="btn btn-outline-primary" href="/{{ mapping['slug'] }}" role="button">Run</a></td>
            <td><a class="btn btn-outline-primary" href="/mapping/{{ mapping['slug'] }}" role="button">View</button></td>
            <td>{{ mapping['slug'] }}</td> 
            <td>{{ mapping['url'] }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table> 


{% endblock %}